# Python Bytecode & Cache
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.venv/
venv/
ENV/
env/

# Environment Variables, Secrets & Configs
.env
.env.*

# Docker & Container Configs
Dockerfile
.dockerignore
railway.json
Procfile
runtime.txt

# User Uploaded Test Images
static/uploads/*
!static/uploads/.gitkeep

# IDEs & System Files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Build Artifacts
Team3model.tflite

# Jupyter Notebook Checkpoints
.ipynb_checkpoints